<template name="meusAnuncios">
	<div class="row">
		{{#each anuncios}}
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail panel panel-info">
				<div class="panel-heading">
					{{modelo}}
					<div class="btn-group btn-group-xs pull-right">
						<a href="{{pathFor 'visualizarAnuncio'}}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"><span class="glyphicon glyphicon-eye-open"></span></a>
						<a href="{{pathFor 'editar-anuncio'}}" class="btn btn-default editar" data-toggle="tooltip" data-placement="top" title="Vendido"><span class="glyphicon glyphicon-edit"></span></a>
						<button type="button" class="btn btn-default excluir" data-toggle="tooltip" data-placement="top" title="Excluir"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
				<img data-src="/images/{{fotos}}" style="height: 294px; width: 100%; display: block;">
				<div class="caption">
					<h3 class="text-warning">R${{valor}}</h3>
					<p>{{observacoes}}</p>
					{{#if vendido}}
					<a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-ok"> Veículo Vendido</span></a>
					{{else}}
					<p><a href="#" class="btn btn-success vendido" role="button"><span class="glyphicon glyphicon-ok"> Marcar como Vendido</span></a></p>
					{{/if}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</template>