
<template name="registrar">
	<form name="registrar" method="post">
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" name="nome" required="true" class="form-control">
				</div>
				<div class="form-group">
					<label class="control-label" for="user">Usuário</label>
					<input type="text" name="user"  required="true" class="form-control">
				</div>
				<div class="form-group">
					<label class="control-label" for="user">Senha</label>
					<input type="password" name="password"  required="true" class="form-control">
				</div>
				<div class="form-group">
					<label class="control-label" for="user">E-mail</label>
					<input type="email" name="email"  required="true" class="form-control">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label class="control-label" for="nome">Telefone</label>
					<input type="tel" name="telefone" required="true" class="form-control">
				</div>
				<div class="form-group">
					<label class="control-label" for="nome">Celular</label>
					<input type="tel" name="celular"  required="true" class="form-control">
				</div>
				<div class="form-group">
					<label class="control-label" for="endereco">Endereço</label>
					<input type="text" name="endereco" value="{{user.profile.address}}" required="true" class="form-control">
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-success">Cadastrar</button>
		</div>

	</form>
</template>